
html, body {
    height: 100%; 
    padding: 0; 
    margin: 0; 
}


body > div {
    width: 50%;
    height: 50%;
    
}

body:last-child{
    
}

#one {
    background-color: aquamarine;
}

#two {
    background-color:wheat;
}

#three {
    background-color:palevioletred;
}

#four {
    background-color:yellowgreen;
}

#champ {
    background-color: cornflowerblue;
}