main{

}
body{
    font-family:sans-serif;
    font-size:small;
    padding:10px;
    line-height:1.4em;
}

#bracket-Container {
    height: 100%;
    display:flex;
    flex-direction:row;
}


.division {
    display: flex;
    align-items: center;
    width: 50%;
    height: 50%;
}

/*.round {*/
/*    background-color: bisque;*/

/*    margin-right: 10px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*}*/

.round{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    list-style: none;
    padding: 0;
}

.game {
    padding-left:20px;
}

.team {
    font-size: 12px;
    height: 20px;
    color:black;
    text-align: center;
    margin:0;
    font-family: 'Roboto';
    text-transform: capitalize;
    }
.team-top{
    border-bottom: 1px solid black;
}
.team-bottom{
    border-top: 1px solid black;
}
.team-spacer {
    min-height:50px;
    border-right: 1px solid black;
}
.game-spacer{
    flex-grow:1;
}